<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    
    <import resource="classpath*:spring-config/test-notifier-applicationContext.xml" />
    
    <bean id="storage"
		class="eu.dime.ps.storage.DimeStorageImpl">
		<property name="entityFactory" ref="entityFactory"/>
	</bean>

	<bean id="contextProcessor"
		class="eu.dime.ps.contextprocessor.impl.ContextProcessorImpl">
		<property name="storage" ref="storage"/>
	</bean>
	
	<bean id="providerManager"
		class="eu.dime.ps.contextprocessor.impl.ContextProcessorImpl">
	</bean>
	
	<bean id="activityDetector"
		class="eu.dime.ps.controllers.context.raw.ActivityDetector">
	</bean>

</beans>