# project files and directories
target/
dime-personalserver/dime-gateway/logs/
dime-personalserver/dime-gateway/src/main/resources/services.properties_full
dime-personalserver/dime-gateway/src/main/resources/services.properties
dime-personalserver/services.properties
dime-personalserver/logs/

# java
*.class

# Package Files #
*.war
*.ear

# other
*.*~

# Eclipse files #
*.project
*.settings*
*.classpath

#Mac Files
*.DS_Store

# Local properties
dime-personalserver/dime-gateway/services.properties
/nbproject/private/
/nbproject
nb-configuration.xml
