<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">
		
	<import resource="classpath:META-INF/spring/ps-db-applicationContext.xml" />
	
	<bean id="credentialStore"
		class="eu.dime.ps.gateway.auth.impl.CredentialStoreImpl" factory-method="getInstance">
		<property name="entityFactory" ref="entityFactory" />
	</bean>
	
	<bean id="entityFactory" class="eu.dime.ps.storage.manager.EntityFactory" factory-method="getInstance" lazy-init="false" scope="singleton"></bean>
 		
	<bean id="repositoryFactory"
		class="eu.dime.ps.semantic.rdf.impl.SesameNativeRepositoryFactory">
		<constructor-arg index="0" type="java.lang.String" value="rdf"/>
	</bean>
	
	<bean id="repository"
 		factory-bean="repositoryFactory"
 		factory-method="get">
 		<constructor-arg value="12345"/>
 	</bean>
 	
 	<bean id="connection"
	    class="eu.dime.ps.semantic.connection.Connection">
 		<constructor-arg value="12345"/>
	    <constructor-arg><ref bean="repository"/></constructor-arg>
	</bean>
	
	<bean id="connectionProvider"
		class="eu.dime.ps.controllers.SingleConnectionProviderMock">
		<property name="connection" ref="connection"/>
	</bean>
	
	<bean class="eu.dime.ps.storage.datastore.impl.DataStore" id="dataStore">
    	<constructor-arg value="test"></constructor-arg>
    </bean>
	
	
	<context:annotation-config/>
		
</beans>