/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */

	#register_push{
	}

	#qr{
		display: none;
		width: 100%;
		height: 50px;
		}

	.bumper{
		height: 0px;
		}

	.logo{
		display:none;
	}
	.dime_logo_small{
		display:block;
	}

	.nav > li > .linkToLogin{
		margin-left: 0px;
	} 





}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */


}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */


}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */

	.span3{
	height: 310px;
	}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */

}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
	#qr{
		display: none;
		width: 100%;
		height: 50px;
		}

	.bumper{
		height: 0px;
		}

	.logo{
		display:none;
	}
	.dime_logo_small{
		display:block;
	}

	.nav > li > .linkToLogin{
		margin-left: 0px;
	} 

}

/*old css*/


@media (max-width: 1200px) {



	.span3{
	height: 310px;
	}

	.span6{
		height:auto;
	}
	

	



	
	@media (max-width: 720px) {
	
	
	

		
		
		h1{
		font-size: 35px;
		
		}
		
		h2{
		font-size: 18px;
		}
		
	
		
		h4{
		font-size: 12px;
		}
		
		h3{
		font-size: 15px;
		}
	
		
	#video{
		width: 100%;
		height:300px;
		}
	
	

		
	#download{
		width:200px;
	
		}
	#start_server{
		width:200px;
		
		}
	.headerlogo{
		width:70px;
		height:70px;
		
		

		}
	}


		
@media (max-width: 979px) {
			
	.name{
		visibility: visible;
		}
		
	.logo{
		display: none;
		width:0px;
		}
		
		
	.dime_logo_small{
		display: block;
		}
		
	.bumper{
		height:0px;
		}
		
	.headerlogo{
		
	float: left;
	visibility: visible;
	width: 90px;
	height:90px;
		}
		
	#push{
		margin-left: 0px;
		
		}
		
	#header1{

		margin-top: -30px;
		}
		

		
	#headfloat{
		float: left;
    }
}



}